body {
	background-color: #FFFFFF;
	text-align: center;
}
 p {
 	text-align: center;
 	font-family: 'Josefin Slab', serif;
	font-size: 20px;
	font-weight: normal;
	color: #000000;
	line-height: 1.5em;
    margin: 2em;
}
h1 {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
	font-weight: bold;
	color: #000000;
}
#image1 {
	display: block;
	margin: 10px;
}
#image2 {
	border:15px solid #000000;
	display: center;
	padding-left: 100px;
	padding-right: 100px;
}
#email {
	font-family: 'Permanent Marker', cursive;
	color: #000000;
	font-size: 30px;
}